{% extends 'base.html' %}
{% block head%}{% endblock %}
{%block body%}
<body class="pr">
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            {% include 'nav.html' %}
            <div class="pro">
                <div class="proj">
                    <!-- start projects -->
                    <center>
                        <div class="meplan">
                        <h1>ABOUT ME</h1>
                        </div>
                    </center>
                    <div class="proj_about">
                        <p class="important">HELLO!</p>
                        <img src="./static/images/me.png" class="mepic"> My name is Enda Figueroa and I want to thank you for stopping by! <br><br>
                        DATA
                        <br>
                        I believe that data is at the heart of every informed desicion and policy. During my time in various medical offices, I've seen how data can help us spot our strengths and our weaknesses.
                        <br><br>
                        In my personal life, the budgeting and lifestyle data I track helps me stay grounded in reality and focused on my goals.
                        <br><br>
                        There is no area that doesn't benefit from the study of its data and I am so excited to continue to grow and learn to shape and analyze it.
                        <br><hr>
                        CODING
                        <br>
                        Problem solving is something that I really enjoy. I'm an avid board game player and I love riddles and brain teasers. To code is to solve countless little puzzles, to take one answer and connect it to another.
                        <br><br>
                        The challenge of creating something from logic and syntax and to bring it into existence is an amazing feeling and I look forward to doing much more coding in the future.
                        <br><hr>
                        ART
                        <br>
                        All my life, I've created art in some form or another. All art assets (other than the small icons) were created by me.
                        <br><hr>
                        A BRIEF HISTORY
                        <br>
                        As of January 2025, I am an alumni of the <a target="_blank" href="https://zipcodewilmington.com/">ZipCode Wilmington</a> Data Engineering cohort. ZipCode is a very selective bootcamp. I was one of 10 out of over 100 applicants to pass the assessment and interview process.
                        <br>
                        The cohort was 13 weeks long, with an 80-100 hour weekly course load. During this time, I also faced early on-set cataracts and kept up despite worsening vision and two surgeries. 
                        <br><br>
                        Before ZipCode, I have been a long haul truck driver, a medical biller, patient coordinator, medical receptionist, and medical assistant.
                        I enjoy training, tutoring, and developing systems and processes. 
                        
                    </div>



                    </div>
                    {%endblock%}