{% extends 'base.html' %}
{% block head%}{% endblock %}
{%block body%}
<body class="pr">
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            {% include 'nav.html' %}
            <div class="pro">
                <div class="proj">
                    <!-- start projects -->
                    <center>
                        <div class="contactplan">
                        <h1>CONTACT</h1>
                        </div>
                    </center>
                    <div class="proj_about">
                        <p class="important">THANK YOU</p>
                            <center>I so appreciate that you came by and I look forward to speaking with you!
                            <br><br>
                            <img src="./static/images/Mooncloud.png" style="width:30px">    <a target="_blank" href="https://www.linkedin.com/in/endafigueroa2/">LinkedIn   </a>
                            <img src="./static/images/Sun.png" style="width:30px">    <a target="_blank" href="https://github.com/EndaFigueroa">GitHub   </a>
                            <img src="./static/images/Email.png" style="width:30px">    <a href="mailto:endafigueroa@gmail.com">Email</a>
                            <br><br>
                            Currently, I am unemployed and available to start anytime! I am open to internships and am happy to commute.</center>
     
                    </div>



                    </div>
                    {%endblock%}