{% extends 'base.html' %}
{% block head%}{% endblock %}
{%block body%}
<body class="pr">
<div class="container-fluid">
    <div class="row justify-content-md-center">

        <div class="col-md-9">
            {% include 'nav.html' %}
            <div class="pro">
                <div class="proj">
                    <!-- start projects -->
                    <center>
                        <div class="learnplan">
                        <h1 id="learning">LEARNING</h1>
                        </div>
                        <p class="important">WHAT NOW?</p>
                        
                    </center>
                    <div class="proj_about">
                        <p class="important">CODECADEMY</p>
                            Now that ZipCode is over, it's time I head back to Codecademy and finish the courses that I started.
                            <br>Some of these courses I began during ZipCode to help me study, but some I started a long time ago.
                            No matter what, they are sure to help me remember everything I've learned. When I finish these, I'd like to pursue actual certifications.<br><br>
                            <center><a target="_blank" href="https://www.codecademy.com/profiles/EndaFigueroa">My Codecademy Profile</a></center>
                            <br>
                            <p class="imp">PYTHON</p>
                            <div class="pbarbg">
                                <div class="pgbarover" style="width:23%">23%</div>
                            </div>
                            <br>
                            <p class="imp">INTRO to JAVA</p>
                            <div class="pbarbg">
                                <div class="pgbarover" style="width:42%">42%</div>
                            </div>
                            <br>
                            <p class="imp">LEARN JAVA</p>
                            <div class="pbarbg">
                                <div class="pgbarover" style="width:16%">16%</div>
                            </div>
                            <br>
                            <p class="imp">JAVASCRIPT</p>
                            <div class="pbarbg">
                                <div class="pgbarover" style="width:72%">72%</div>
                            </div>
                        </div>

                            <center>
                                <div class="futureplan">
                                <h1 id="future">THE FUTURE</h1>
                                </div>
                            </center>
                            <div class="proj_about">
                                <p class="important">BIG PLANS</p>
                                    <ul>
                                        <li>Twine Game<br>
                                            I really enjoy the Twine game platform and I would love to write a interactive visual novel.<br> 
                                            Twine uses SugarCube which is based in JavaScript to enhance the gameplay functionality, adding on inventories and other things.
                                            It would also allow me to continue to use CSS and art design to bring something to life.
                                        </li>
                                        <br>
                                        <li>Morphilist<br>
                                            My passion project idea during ZipCode was a to-do app that tracked your upcoming tasks as well as your sleep and would give you data reports and suggestions to help form realistic productivity expections.
                                            <br>Due to the workload of the cohort, I wasn't able to give it the attention it needed, but I'd like to explore the idea further. It impliments everything used in this website, as well as SQLAlchemy and SQLite.
                                            <br>I hope to get it to a state where I can one day show it off here.</li>
                                        <br>
                                        <li>Data<br>
                                            Data Science has so very many tools and I've barely just begun to try them all.
                                            <br>I want to try other dashboards and I want to try my hand at Spark. I think I will begin to cut my teeth on enviormental data that is out there, or make some up.</li>
                                        <br>
                                        <li>Health Care<br>
                                            I have worked in a number of medical offices across different specialities and there is a need for customizeable training material, policy manuals, and productivity tracking.
                                            <br>I want to develop something to help small offices with these tools.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </body>
                {%endblock%}