<div class="navitab">
    <table class="navitab"><tr></tr>
        <td>
            <img src="./static/images/Moon.png" style="width:30px">  <a href="/">Home</a>
        </td>
        <td>
            <img src="./static/images/Stars.png" style="width:30px">  <a href="/about">About Me</a>
        </td>
        <td>
            <img src="./static/images/Rocket.png" style="width:30px">  <a href="/contact">Contact</a>
        </td>
        <td>
            <img src="./static/images/Sun.png" style="width:30px">  <a target="_blank" href="https://github.com/EndaFigueroa">GitHub</a>
        </td>
    </tr></table>
</div>